<a href="https://colab.research.google.com/github/sureshmecad/Samrat-Ashok-Technology-Internship/blob/main/Day33_Classes_and_Objects_CSEPathshala.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class college:
  def __init__(self, id, branch):
    self.stuid = id
    self.branch = branch

student1 = college('stu101', 'computer science')

print(student1.stuid)
print(student1.branch)

stu101
computer science

In [3]:
class student:
  def __init__(self, first_name, last_name):
    self.fname = first_name
    self.lname = last_name

s1 = student('Shreya', 'Roy')

print(s1.fname)
print(s1.lname)

Shreya
Roy

In [4]:
# changing the attribute
s1.fname = 'kriti'
print(s1.fname)

kriti

In [5]:
s1.fname = 'Rohit'
s1.lname = 'sen'

print(s1.fname)
print(s1.lname)

Rohit
sen

In [6]:
del s1.fname

In [7]:
print(s1.fname)

AttributeError: ignored

In [8]:
print(s1.lname)

sen

In [9]:
del s1

In [10]:
print(s1.fname)

NameError: ignored

In [11]:
class Circle(object):
  pi = 3.14159

  def __init__(self, radius):
    self.radius = radius

  def area(self):
    return Circle.pi * self.radius * self.radius

In [12]:
c = Circle(10)
c.pi

3.14159

In [13]:
c.area()

314.159

In [14]:
# class definitions cannot be empty, but if you for some reason have a class definition with no content, put in the pass statement to avoid getting an error
# for example

class student:
  pass

# so to avoid compilation errors, you can use the pass statement

In [15]:
def addition(num1, num2):
  # implementation will go here
  pass # pass statement

addition(2, 2)

----------------------------

 #### Both gives same output
 
     class person:
       def __init__(self, name):
         self.name = name

       def display(self):
         print("hello", self.name)

     person1 = person("amul")
     person1.display()

-------------------------------------------------

     class person:
       def __init__(self, name):
         self.name = name

       def display(self):
         print("hello", self.name)

     person("amul").display()

In [16]:
class person:
  def __init__(self, name):
    self.name = name

  def display(self):
    print("hello", self.name)

person1 = person("amul")
person1.display()

hello amul

In [18]:
class person:
  def __init__(self, name):
    self.name = name

  def display(self):
    print("hello", self.name)

person("amul").display()

hello amul

In [17]:
class person:
  def __init__(self, name):
    self.name = name
    name = "john"
    print(name)

  def display(self):
    print("hello", self.name)

person1 = person("amul")
person1.display()

john
hello amul

#### **Reference**

- https://www.youtube.com/watch?v=4LUUW5-_oHA

- https://www.youtube.com/watch?v=yCH9CUiXrP0