<a href="https://colab.research.google.com/github/sureshmecad/Samrat-Ashok-Technology-Internship/blob/main/Day48_Pandas_Date_and_Time_Series_CSEPathshala.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Specifying Datetime range as the index of a series**

- Often we want to create a timeseries, such as running sequence of dates in a month. We could use the **date_range()** function for this purpose.

In [1]:
import pandas as pd

In [2]:
dates1 = pd.date_range('20210629', periods=12)
print(dates1)

DatetimeIndex(['2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02',
               '2021-07-03', '2021-07-04', '2021-07-05', '2021-07-06',
               '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-10'],
              dtype='datetime64[ns]', freq='D')

**To assign the range of dates as the index of a series, use the index property of the series**

In [3]:
dates1 = pd.date_range('20210629', periods=12)
series = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12])
series.index = dates1
print(series)

2021-06-29     1
2021-06-30     2
2021-07-01     3
2021-07-02     4
2021-07-03     5
2021-07-04     6
2021-07-05     7
2021-07-06     8
2021-07-07     9
2021-07-08    10
2021-07-09    11
2021-07-10    12
Freq: D, dtype: int64

**Date Ranges**

- In the previous example, we saw how to create date ranges using the **date_range()** function.

- The periods programmer specifies **how many dates** we want to create, and the **default frequency is D (Daily).**

- If we want to change the **frequency to month** use the freq parameter and set it to **M**.

In [5]:
dates2 = pd.date_range('20210629', periods=12, freq='M')
print(dates2)

DatetimeIndex(['2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30',
               '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31',
               '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31'],
              dtype='datetime64[ns]', freq='M')

- Notice that when the **frequency is set to month**, the **day** of each date will be the **last day of the month**. If we want the **date to start with the first day** of the monthset the **freq parameter to MS.**

In [6]:
dates2 = pd.date_range('20210629', periods=12, freq='MS')
print(dates2)

DatetimeIndex(['2021-07-01', '2021-08-01', '2021-09-01', '2021-10-01',
               '2021-11-01', '2021-12-01', '2022-01-01', '2022-02-01',
               '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01'],
              dtype='datetime64[ns]', freq='MS')

- Notice that pandas automatically interprets the date you specified. In this case, **2021-06-29** is interpreted as **29 June 2021**.

- In **some regions developers**, will specify the date in the **dd-mm-yyyy** format. Thus to represent **29 June 2021**, we would specify it as follows:

In [7]:
dates2 = pd.date_range('29-06-2021', periods=12, freq='MS')
print(dates2)

DatetimeIndex(['2021-07-01', '2021-08-01', '2021-09-01', '2021-10-01',
               '2021-11-01', '2021-12-01', '2022-01-01', '2022-02-01',
               '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01'],
              dtype='datetime64[ns]', freq='MS')

In [8]:
dates2 = pd.date_range('2021-06-29', periods=12, freq='MS')
print(dates2)

DatetimeIndex(['2021-07-01', '2021-08-01', '2021-09-01', '2021-10-01',
               '2021-11-01', '2021-12-01', '2022-01-01', '2022-02-01',
               '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01'],
              dtype='datetime64[ns]', freq='MS')

- In addition to setting dates, you can also set time

In [9]:
dates3 = pd.date_range('2021/06/29 09:00:00', periods=8, freq='H')
print(dates3)

DatetimeIndex(['2021-06-29 09:00:00+00:00', '2021-06-29 10:00:00+00:00',
               '2021-06-29 11:00:00+00:00', '2021-06-29 12:00:00+00:00',
               '2021-06-29 13:00:00+00:00', '2021-06-29 14:00:00+00:00',
               '2021-06-29 15:00:00+00:00', '2021-06-29 16:00:00+00:00'],
              dtype='datetime64[ns, tzlocal()]', freq='H')

#### **Reference**

- https://www.youtube.com/watch?v=SwgxGxbVifI&list=PLzx-_kRo3HZtP3tWaieUPwAh9K4I00_6p&index=30