<a href="https://colab.research.google.com/github/sureshmecad/Samrat-Ashok-Technology-Internship/blob/main/Day47_Introduction_to_Pandas_CSEPthshala.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What is Pandas?**

- While Numpy arrays are much improved N-dimensional array object version over Python's list, it is insufficient to meet the needs of data science.

- In the real world, data are often presented in the table formats.

- To be able to deal with data stored as tables, you need a new data type that is more suited to deal with PANDAS.

- While python supports lists and dictionaries for manipulating structured data, it is not well suited manipulating numerical tables, such as the one stored in the csv file.

- Pandas is a python package providing fast, flexible and expensive data structures designed to make working with "relational" or "labelled" data both easy and intituitive.

**PANDAS** stands for **Panel Data Analysis**

 - Pandas supports two key data structures: Series and DataFrame

**1) Pandas Series**

-  A Pandas series is a one-dimensional Numpy-like array, with each element having an index (0,1,2....by default); a series bahaves very much like a dictionary that includes an index.

- To create a series we first need to import the pandas library and then use the series class.

- By default the index of series starts from 0.

In [1]:
import pandas as pd

In [2]:
series = pd.Series([1, 2, 3, 4, 5])
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

**2) Creating a series using a Specified Index**

 - we can specify an optional index for a Series using the index parameter.

 - It is worth noting that the index of a Series need not be unique.

In [3]:
series = pd.Series([1, 2, 3, 4, 5], index=["a", "b", "c", "d", "e"])
series

a    1
b    2
c    3
d    4
e    5
dtype: int64

#### **3) Accessing Elements in a Series**

- Accessing an element in a Series is similar to accessing an element in an array

In [4]:
series = pd.Series([1, 2, 3, 4, 5])

print(series[2])

print(series.iloc[2])

3
3

In [7]:
series = pd.Series([1, 2, 3, 4, 5], index=["a", "b", "c", "d", "e"])

print(series["d"])

print(series.loc["d"])

4
4

In [8]:
series = pd.Series([1, 2, 3, 4, 5], index=["a", "b", "c", "d", "c"])

print(series["c"])

print(series.loc["c"])

c    3
c    5
dtype: int64
c    3
c    5
dtype: int64

#### **we can also perform slicing on a series**

In [9]:
series = pd.Series([1, 2, 3, 4, 5])

print(series[2:])

print(series.iloc[2:])

2    3
3    4
4    5
dtype: int64
2    3
3    4
4    5
dtype: int64

#### **Reference**

- https://www.youtube.com/watch?v=BCg3NUl4YUY&list=PLzx-_kRo3HZtP3tWaieUPwAh9K4I00_6p&index=29