<a href="https://colab.research.google.com/github/sureshmecad/Samrat-Ashok-Technology-Internship/blob/main/Day44_Pandas_Removing_Duplicates_and_Data_Correlations_CSEPathshala.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **PANDAS**

- Removing Duplicates

- Data Correlations

#### **1) Discovering Duplicates**

- **Duplicate rows** are rows that have been registered **more than one time**

- By taking a look at our **"DoB New"** dataset, we can assume that **row 3 and 4 are duplicates**.

- To **discover duplicates**, we can use the **duplicated()** method.

- The **duplicated()** method returns a **boolean values** for each row.

- Returns **True** for every row that is a **duplicate**, otherwise **False**.

In [ ]:
import pandas as pd

In [ ]:
data = {'Name': ['Nirmal', 'Priyanka', 'Resham', 'Jalaj', 'Jalaj'],
        'Date': ['2021/07/31', '2021/08/01', '2021/08/01', '2021/08/01', '2021/08/01'],
        'Age': [35, 33, 3, 40, 40]}

In [ ]:
df = pd.DataFrame(data)
df

       Name        Date  Age
0    Nirmal  2021/07/31   35
1  Priyanka  2021/08/01   33
2    Resham  2021/08/01    3
3     Jalaj  2021/08/01   40
4     Jalaj  2021/08/01   40

In [ ]:
print(df.to_string())

       Name        Date  Age
0    Nirmal  2021/07/31   35
1  Priyanka  2021/08/01   33
2    Resham  2021/08/01    3
3     Jalaj  2021/08/01   40
4     Jalaj  2021/08/01   40

In [ ]:
df.duplicated()

0    False
1    False
2    False
3    False
4     True
dtype: bool

- **inplace=True** will make sure that the method **does NOT** return a **new
dataframe**, but it will **remove all duplicates** from the **original dataframe**.

#### **2) Data Correlations:** Finding Relationships

- A great aspect of the pandas module is the **corr()** method

- The **corr()** method calculates the relationship b/n each **column** in your 
dataset.

In [9]:
# show the relationship b/n the columns
df.corr()

     Age
Age  1.0

- The **corr()** method ignores **"not numeric"** columns.

#### **Results**

- The result of the **corr()** method is a table with a lot of numbers that represents how well the **relationship is b/n columns**.

- The number varies from **-1 to 1**

- **1** means that there is a 1 to 1 relationship (a **perfect correlation**), and for this dataset, each time a value went up in the first column, the other one went up as well.

- **0.9** is also a good relationship, and if you increase one value, the other will probably increase as well.

- **-0.9** would be just as good relationship as 0.9, but if you increase one value, the other will probably go down.

- **0.2** means **NOT a good relationship**, meaning that if one value goes up does not mean that the other will.

#### **What is a good correlation?**

- It depends on the use, but it is safe to say you have to have at least **0.6(or -0.6)** to call it a **good relation**.

#### **Perfect Correlation**

- We can see that "Age" and "Age" got the number 1, which makes sense each column relationship with itself.

### **Reference**

- https://www.youtube.com/watch?v=5gKIeaiZkdE&list=PLzx-_kRo3HZtP3tWaieUPwAh9K4I00_6p&index=44