<a href="https://colab.research.google.com/github/sureshmecad/Samrat-Ashok-Technology-Internship/blob/main/Day52_Generating_a_CrossTab_CSEPathshala.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- In statistics, a crosstab used to aggregate and jointly display the distribution of two or more variables.

- It shows the relationship between these variables.

In [6]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({"Gender": ["Male", "Male", "Female", "Female", "Female"], "Team":[1,2,3,3,1]})
df

   Gender  Team
0    Male     1
1    Male     2
2  Female     3
3  Female     3
4  Female     1

- This dataframe shows the gender of each person and the team to which the person belongs.

- Using a crosstab, you would be able to summarize the data and generate a table to show the distribution of each gender for each team.

In [4]:
df = pd.DataFrame({"Gender": ["Male", "Male", "Female", "Female", "Female"], "Team":[1,2,3,3,1]})
print(df)
print("\n\nDisplay the distribution of gender in each team")
pd.crosstab(df.Gender, df.Team)

   Gender  Team
0    Male     1
1    Male     2
2  Female     3
3  Female     3
4  Female     1


Display the distribution of gender in each team

Team    1  2  3
Gender
Female  1  0  2
Male    1  1  0

- If you want to see the distribution of each team for each gender, you simply reverse the arguments.

In [5]:
df = pd.DataFrame({"Gender": ["Male", "Male", "Female", "Female", "Female"], "Team":[1,2,3,3,1]})
print(df)
print("\n\nDisplay the distribution of gender in each team")
pd.crosstab(df.Team, df.Gender)

   Gender  Team
0    Male     1
1    Male     2
2  Female     3
3  Female     3
4  Female     1


Display the distribution of gender in each team

Gender  Female  Male
Team
1            1     1
2            0     1
3            2     0

In [8]:
a = np.array(['foo', 'foo', 'foo', 'foo', 'bar', 'bar', 'bar', 'bar', 'foo', 'foo', 'foo'], dtype=object)
b = np.array(['one', 'one', 'one', 'two', 'one', 'one', 'one', 'two', 'two', 'two', 'one'], dtype=object)
c = np.array(['dull', 'dull', 'shiny', 'dull', 'dull', 'shiny', 'shiny', 'dull', 'shiny', 'shiny', 'shiny'], dtype=object)

pd.crosstab(a, [b,c], rownames=['a'], colnames=['b', 'c'])

b    one        two
c   dull shiny dull shiny
a
bar    1     2    1     0
foo    2     2    1     2

#### **Reference**

- https://www.youtube.com/watch?v=ytF37c35M1A&list=PLzx-_kRo3HZtP3tWaieUPwAh9K4I00_6p&index=41