<a href="https://colab.research.google.com/github/sureshmecad/Samrat-Ashok-Technology-Internship/blob/main/Day51_Applying_Functions_to_a_DataFrame_CSEPathshala.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Applying function to a Dataframe**

- We can also apply funcions to values in a dataframe using the **apply()** function.

- First let's define two lambda functions as folows:

In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
sq_root = lambda x: math.sqrt(x) if x>0 else x
sq = lambda x:x**2

df = pd.DataFrame(np.random.randn(10,4), columns=list("ABCD"))
print(df)

          A         B         C         D
0 -0.648312 -0.654999 -0.509691  0.125060
1  0.076845 -0.907783  0.938368  1.546889
2  0.592840 -1.363953 -1.135187  0.068783
3 -1.406178  1.436224 -0.139252  0.536860
4 -0.406399 -0.611900 -0.757008 -1.116224
5  0.792503  0.951712 -1.077993 -0.357209
6  0.403896 -1.452898 -0.049275 -0.001796
7 -1.520886 -0.819668  0.311887  1.160203
8  0.935517  0.744527  0.095402 -0.562557
9  0.874176  0.090624 -0.061426  0.908994

In [3]:
print(df.B.apply(sq_root))

0   -0.654999
1   -0.907783
2   -1.363953
3    1.198425
4   -0.611900
5    0.975557
6   -1.452898
7   -0.819668
8    0.862860
9    0.301039
Name: B, dtype: float64

In [4]:
print(df.B.apply(sq))

0    0.429023
1    0.824070
2    1.860367
3    2.062738
4    0.374421
5    0.905755
6    2.110913
7    0.671855
8    0.554320
9    0.008213
Name: B, dtype: float64

- The first function sq_root takes the square root of the value x if it is a positive number.

- The second function sq takes the square of the value x.

- It is important to note that objects passed to the apply() function are Series objects whose index is either the dataframe's index  (axis=0) or the dataframe's columns(axis=1).

- We can now apply the functions to the dataframe. First apply the sq_root function to column "B": print(df.B.apply(sq_root))

- If we apply the sq_root function to the dataframe, df.apply(sq_root) # value error. We will get the following error.

- This is because the object passed into the apply() funcion in this case is a dataframe, not a series. Interestingly we can apply the sq function to the dataframe: df.apply(sq)

In [5]:
sq_root = lambda x: math.sqrt(x) if x>0 else x
sq = lambda x:x**2

df = pd.DataFrame(np.random.randn(10,4), columns=list("ABCD"))
print(df)
print(df.apply(sq_root))

          A         B         C         D
0  1.390287  1.322263 -0.132488  1.756926
1  1.320863  0.042930 -0.122650  0.084998
2 -0.413195 -1.927476 -0.507756  1.412334
3 -1.461611  1.095450 -2.097424 -0.574043
4  0.286183 -0.445613  0.495433 -1.473659
5 -0.044876 -0.688227 -0.772011  2.306687
6  1.264235  0.054017 -1.118211 -0.153853
7 -0.858452 -1.252070 -0.913806  0.226988
8  0.324212 -0.091543  1.493102 -0.589811
9 -1.402827 -1.549258 -0.227046 -0.198374

ValueError: ignored

In [6]:
sq_root = lambda x: math.sqrt(x) if x>0 else x
sq = lambda x:x**2

df = pd.DataFrame(np.random.randn(10,4), columns=list("ABCD"))
print(df)
print(df.apply(sq))

          A         B         C         D
0  0.127782  1.871493  1.937813  0.316956
1 -0.414391 -0.155247 -0.786709 -0.828641
2  0.479631  0.580688  1.191611  0.707303
3 -0.319859 -2.682393  0.481369 -0.148915
4 -0.680539 -0.808777  0.194144 -0.521989
5  0.430787 -0.856580  1.968149  0.800534
6  0.849863 -0.129318 -1.303532  1.351792
7 -0.924012 -0.146211 -0.544390  0.745918
8 -0.133459 -1.020844  0.271215 -0.501301
9  0.345726  0.855271 -0.315447  0.117440
          A         B         C         D
0  0.016328  3.502486  3.755121  0.100461
1  0.171720  0.024102  0.618912  0.686646
2  0.230046  0.337199  1.419938  0.500278
3  0.102310  7.195235  0.231716  0.022176
4  0.463133  0.654120  0.037692  0.272472
5  0.185578  0.733729  3.873610  0.640854
6  0.722266  0.016723  1.699196  1.827343
7  0.853799  0.021378  0.296360  0.556394
8  0.017811  1.042122  0.073558  0.251303
9  0.119526  0.731488  0.099507  0.013792

- If you want to apply the sq_root function to the entire dataframe, we can iterate through the columns and apply the function to each column.

In [7]:
sq_root = lambda x: math.sqrt(x) if x>0 else x
sq = lambda x:x**2

df = pd.DataFrame(np.random.randn(10,4), columns=list("ABCD"))
print(df)

for column in df:
  df[column] = df[column].apply(sq_root)

print(df)

          A         B         C         D
0  0.263379  1.979759  1.127425  1.369400
1  1.307043  0.504118 -0.986870  0.064790
2 -0.551990  0.557353 -0.598737 -0.613732
3 -0.891798  1.574916  0.310596 -0.372662
4 -0.644754  0.469123 -1.190078  0.700023
5 -0.776872  0.030715 -2.079235  0.052676
6 -0.891018  0.425227 -1.050417 -1.906478
7 -0.777529  0.277125 -0.590767  0.418381
8 -0.451935  1.153258 -0.412089 -0.613638
9 -1.594419 -0.678711  1.137935 -1.777736
          A         B         C         D
0  0.513205  1.407039  1.061803  1.170214
1  1.143260  0.710013 -0.986870  0.254538
2 -0.551990  0.746561 -0.598737 -0.613732
3 -0.891798  1.254957  0.557312 -0.372662
4 -0.644754  0.684925 -1.190078  0.836674
5 -0.776872  0.175258 -2.079235  0.229513
6 -0.891018  0.652095 -1.050417 -1.906478
7 -0.777529  0.526427 -0.590767  0.646824
8 -0.451935  1.073899 -0.412089 -0.613638
9 -1.594419 -0.678711  1.066740 -1.777736

- The apply function can be applied on either axis: index(0, apply function to each column) or column(1, apply function to each row)

- For the two particular lambda funcions that we have seen thus far, it does not matter which axis you apply it to, and the result would be same. However for some functions, the axis that you apply it to does matter.

- For example, the following statement uses the sum() function from numpy and applies it to the rows of the dataframe. print(df.apply(np.sum, axis=0)). Essentially you are summing up all of the values in each column.

- If you set axis to 1 as follows: print(df.apply(np.sum, axis=1))

In [8]:
sq_root = lambda x: math.sqrt(x) if x>0 else x
sq = lambda x:x**2

df = pd.DataFrame(np.random.randn(10,4), columns=list("ABCD"))
print(df)
print(df.apply(np.sum, axis=0))
print(df.apply(np.sum, axis=1))

          A         B         C         D
0 -0.018422 -0.791488  1.288785  1.094123
1  1.221634  0.490458  2.385125  0.532308
2  1.442761 -1.195045 -0.865685 -1.509961
3 -0.736129 -0.201071  0.459043  1.863487
4 -0.327226 -1.867535  0.882174 -1.581162
5 -1.400939  1.051560  0.816175 -0.474885
6  0.471896 -0.077626 -0.113615  1.080663
7  2.680963  0.506915 -0.302124 -0.643873
8  0.374623  0.935245 -2.168973 -0.581465
9  0.770848 -0.766358 -1.279907  1.977479
A    4.480009
B   -1.914945
C    1.100997
D    1.756715
dtype: float64
0    1.572998
1    4.629525
2   -2.127930
3    1.385330
4   -2.893747
5   -0.008089
6    1.361317
7    2.241881
8   -1.440570
9    0.702061
dtype: float64

#### **Reference**

- https://www.youtube.com/watch?v=YtqI1ZX0ick&list=PLzx-_kRo3HZtP3tWaieUPwAh9K4I00_6p&index=38