<a href="https://colab.research.google.com/github/sureshmecad/Samrat-Ashok-Technology-Internship/blob/main/Day5_Numpy_data_Types_CSEPathshala.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

#### **NumPy Array reshape**

- we can reshape an array to another dimension using the reshape() function

- Let's consider a program in which 'arr' is a rank 1 array and after reshape its converted to a rank 2 array 'arr1'

In [ ]:
list = [1,2,3,4,5]
arr = np.array(list)
print("The Numpy array is:", arr)
print(arr.shape)

arr1 = arr.reshape(1,-1)
print("The Reshape NumPy array is:", arr1)
print(arr1.shape)

arr2 = arr.reshape(1,1,-1)
print(arr2)
print(arr2.shape)

The Numpy array is: [1 2 3 4 5]
(5,)
The Reshape NumPy array is: [[1 2 3 4 5]]
(1, 5)
[[[1 2 3 4 5]]]
(1, 1, 5)

- we call the reshape() function with two arguments.

- The first one indicates that we want to convert it into rank 2 array with 1 row, and the -1 indicates that we will leave it to the reshape() function to create the correct number of columns.

#### **Reshape**

In [ ]:
list = [1,2,3,4,5]
arr1 = np.array([list])
print("The NumPy Array is:", arr1)
arr = arr1.reshape(-1,)
print("The reshape NumPy array is:", arr)

The NumPy Array is: [[1 2 3 4 5]]
The reshape NumPy array is: [1 2 3 4 5]

#### **Flatten**

 - To **convert** a **rank 2 array to a rank 1 array**, we can also use the **flatten() or ravel()** functions.

In [ ]:
list = [1,2,3,4,5]
arr1 = np.array([list])
print("The NumPy Array is:", arr1)
arr = arr1.flatten()
print("The reshape NumPy array is:", arr)

The NumPy Array is: [[1 2 3 4 5]]
The reshape NumPy array is: [1 2 3 4 5]

#### **Ravel**

In [ ]:
list = [1,2,3,4,5]
arr1 = np.array([list])
print("The NumPy Array is:", arr1)
arr = arr1.ravel()
print("The reshape NumPy array is:", arr)

The NumPy Array is: [[1 2 3 4 5]]
The reshape NumPy array is: [1 2 3 4 5]

#### **Data types in Python**

  **1) strings:** used to represent text data under quote marks like "ABCD"

  **2) integer:** used to represent integer numbers like 1,2,3,-1,-2,-3

  **3) float:** used to represent real numbers like 1.2, 42.42

  **4) boolean:** used to represent True or False

  **5) complex:** used to represent complex numbers like 1.0+2.0j, 1.5+2.5j

#### **Data types in NumPy**

 - NumPy has some extra data types and refers them with one character, like i for integers, u for unsigned integers etc. List of all data types in NumPy and the characters used to represent them is as follows.

|Character           |Datatype             |
|--------------------|---------------------|
|i                   |integer              |
|b                   |boolean              |
|u                   |Unsigned integer     |
|f                   |float                |
|c                   |complex float        |
|m                   |time delta           |
|M                   |datetime             |
|O                   |Object               |
|S                   |string               |
|U                   |Unicode String       |

#### **Checking the Data Type of an Array**

- The NumPy array object has a property called dtype that returns the data type of the array.

In [ ]:
arr = np.array([1,2,3,4])
print("The DataType of array is:", arr.dtype)

The DataType of array is: int64

In [ ]:
arr = np.array(['apple', 'banana', 'cherry'])
print("The DataType of array is:", arr.dtype)

The DataType of array is: <U6

#### **Creating arrays with a defined data type**

- we use the array() function to create arrays, this function can take an optional argument: dtype that allows us to define the expected data type of the array elements.

In [ ]:
arr = np.array([1,2,3,4], dtype='S')
print("The value of array is:", arr)
print("The data type of array is:", arr.dtype)

The value of array is: [b'1' b'2' b'3' b'4']
The data type of array is: |S1

- For i,u,f,S and U we can define size as well

In [ ]:
# create an array with data type 4 bytes integer
arr = np.array([1,2,3,4], dtype='i4')
print("The value of array is:", arr)
print("The data type of array is:", arr.dtype)

The value of array is: [1 2 3 4]
The data type of array is: int32

In [ ]:
# create an array with data type 4 bytes integer
arr = np.array([1,2,3,4], dtype='i8')
print("The value of array is:", arr)
print("The data type of array is:", arr.dtype)

The value of array is: [1 2 3 4]
The data type of array is: int64

#### **What if a value Can Not Be Converted**

- If a type is given in which elements can't be casted then NumPy will raise a ValueError

- In python value error is raised when the type of passed argument to a function is unexpected/incorrect.

In [ ]:
# A non integer string like 'a' cannot be converted to integer (will raise an error)
arr = np.array(['a', '2', '3'], dtype='i')
print("The value of array is:", arr)

ValueError: ignored

#### **Converting Data Type on Existing Array**

- The best way to change the data type of an existing array, is to make a copy of the array with the astype() method.

- The astype() function creates the copy of array, and allows us to specify the data type as a parameter.

- The datatype can be specified using a string, like 'f' for float, 'i' for integer etc or we can use the data type directly like float for float and int for integer.

In [ ]:
# change data type from float to integer by using 'i' as parameter value
arr = np.array([1.1, 2.1, 3.1])
print(arr.dtype)
newarr = arr.astype('i')
print("The value of newarr is:", newarr)
print("The data type of newarr is:", newarr.dtype)

float64
The value of newarr is: [1 2 3]
The data type of newarr is: int32

In [ ]:
# change the data type from float to integer by using int as parameter value
arr = np.array([1.1, 2.1, 3.1])
print(arr.dtype)
newarr = arr.astype(int)
print("The value of newarr is:", newarr)
print("The data type of newarr is:", newarr.dtype)

float64
The value of newarr is: [1 2 3]
The data type of newarr is: int64

In [ ]:
# change data type from integer to bolean
arr = np.array([1, 0, 3])
print(arr.dtype)
newarr = arr.astype(bool)
print("The value of newarr is:", newarr)
print("The data type of newarr is:", newarr.dtype)

int64
The value of newarr is: [ True False  True]
The data type of newarr is: bool

### **Reference**

- https://www.youtube.com/watch?v=0P_Y7K0uqB0&list=PLzx-_kRo3HZtP3tWaieUPwAh9K4I00_6p&index=5