<a href="https://colab.research.google.com/github/sureshmecad/Samrat-Ashok-Technology-Internship/blob/main/Day77_EDA_Missing_Values_(Part_2)_CSEPathshala.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
df = pd.read_csv("/content/drive/MyDrive/Datasets/CAR_Automobile_data.zip")
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [9]:
df['normalized-losses'].value_counts()

?      41
161    11
91      8
150     7
104     6
128     6
134     6
103     5
94      5
74      5
65      5
102     5
85      5
168     5
95      5
118     4
148     4
106     4
122     4
93      4
83      3
154     3
137     3
101     3
125     3
115     3
81      2
158     2
113     2
145     2
153     2
194     2
129     2
188     2
89      2
87      2
108     2
110     2
119     2
164     2
197     2
192     2
231     1
142     1
121     1
98      1
90      1
78      1
186     1
107     1
77      1
256     1
Name: normalized-losses, dtype: int64

In [10]:
df['horsepower'].value_counts()

68     19
70     11
69     10
116     9
110     8
95      7
114     6
62      6
88      6
160     6
101     6
97      5
145     5
76      5
84      5
82      5
102     5
92      4
123     4
86      4
111     4
207     3
85      3
90      3
73      3
152     3
121     3
182     3
156     2
112     2
56      2
155     2
162     2
184     2
161     2
?       2
176     2
100     2
52      2
94      2
200     1
143     1
175     1
140     1
72      1
115     1
78      1
106     1
120     1
58      1
154     1
60      1
134     1
55      1
142     1
288     1
64      1
262     1
135     1
48      1
Name: horsepower, dtype: int64

In [11]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [13]:
# Step1: Replace the missing values with nan
df['normalized-losses'].replace("?", np.nan, inplace=True)
df['horsepower'].replace("?", np.nan, inplace=True)

# Step2: change the datatype
df['normalized-losses'] = df['normalized-losses'].astype("float")
df['horsepower'] = df['horsepower'].astype("float")

# Step3: Get the mean
nlmean = df['normalized-losses'].mean()
hpmean = df['horsepower'].mean()

# Step4: Use the fillna method
df['normalized-losses'].fillna(nlmean, inplace=True)
df['horsepower'].fillna(hpmean, inplace=True)

df

     symboling  normalized-losses         make  ... city-mpg highway-mpg  price
0            3              122.0  alfa-romero  ...       21          27  13495
1            3              122.0  alfa-romero  ...       21          27  16500
2            1              122.0  alfa-romero  ...       19          26  16500
3            2              164.0         audi  ...       24          30  13950
4            2              164.0         audi  ...       18          22  17450
..         ...                ...          ...  ...      ...         ...    ...
200         -1               95.0        volvo  ...       23          28  16845
201         -1               95.0        volvo  ...       19          25  19045
202         -1               95.0        volvo  ...       18          23  21485
203         -1               95.0        volvo  ...       26          27  22470
204         -1               95.0        volvo  ...       19          25  22625

[205 rows x 26 columns]

#### **Reference**

- https://www.youtube.com/watch?v=9dO8i6Ula0k&list=PLzx-_kRo3HZtP3tWaieUPwAh9K4I00_6p&index=79