<a href="https://colab.research.google.com/github/sureshmecad/Samrat-Ashok-Technology-Internship/blob/main/Day72_Regular_Expression_in_Python_CSEPathshala.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **PythonRegEx**

- A RegEx or regular expression is a sequence of characters that forms a search pattern.

- RegEx can be used to check if a string contains the specified search pattern.

#### **RegEx Module**

- python has a built-in package called re which can be used to work with regular expressions

In [2]:
import re

# check if string starts with "The" and ends with "Spain"

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
  print("YES! we have a match!")
else:
  print("No match")

YES! we have a match!

In [3]:
import re

# check if string starts with "The" and ends with "Spain"

txt = "The rain in India"
x = re.search("^The.*Spain$", txt)

if x:
  print("YES! we have a match!")
else:
  print("No match")

No match

#### **RegEx Functions**

- The re module offers a set of functions that allows us to search a string for match.

 - **findall:**	Returns a list containing all matches

 - **search:**	Returns a Match object if there is a match anywhere in the string
  
  - **split:**	Returns a list where the string has been split at each match

 - **sub:**	Replaces one or many matches with a string

#### **Metacharacters**

- Metacharacters are characters with a special meaning

In [4]:
txt = "The rain in Spain"

# Find all lower case characters alphabetically between "a" and "m"

x = re.findall("[a-m]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [6]:
# check if string starts with "hello"

txt = "hello planet"
x = re.findall("^hello", txt)

if x:
  print("YES, the string starts with 'hello'")
else:
  print("No match")

YES, the string starts with 'hello'

In [7]:
# check if string ends with "planet"

txt = "hello planet"
x = re.findall("planet$", txt)

if x:
  print("YES, the string ends with 'planet'")
else:
  print("No match")

YES, the string ends with 'planet'

In [11]:
txt = "hello planet"

# search for a sequence that starts with "he", followed by o or more (any) characers and an "o"

x = re.findall("he.*o", txt)
print(x)

['hello']

#### **The findall() Function**

- The findall() function returns a list containing all matches

In [12]:
# Print a list of all matches
# return a list containing every occurrence of "ai"

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

- The list contains the matches in the order they are found.

- If no matches are found, an empty list is returned

In [13]:
txt = "The rain in Spain"

# check if "Portugal" is in the string

x = re.findall("Portugal", txt)
print(x)

if x:
  print("YES, there is atleast one match!")
else:
  print("No match")

[]
No match

#### **The search() Function**

- The search() function searches the string for a match, and returns a Match object if there is a match.

- If there is more than one match, only the first occurrence of the match will be returned

In [14]:
txt = "The rain in Spain"

x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [15]:
# if no matches are found, the value None is returned

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

#### **The split() Function**

- The split() function returns a list where the string has been split at each match

In [16]:
txt = "The rain in Spain"

# split the string at every white-space character

x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

- You can control the number of occurrences by specifying the maxsplit parameter

#### **The sub() Function**

- The sub() function replaces the matches with the text of your choice

In [17]:
# replace all white-space characters with the digit "9"

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

- You can control the number of replacements by specifying the count parameter

In [18]:
# Replace the first 2 occurrences

txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

#### **Reference**

- https://www.youtube.com/watch?v=9ShlhteitfI

- https://www.w3schools.com/python/python_regex.asp