<a href="https://colab.research.google.com/github/sureshmecad/Samrat-Ashok-Technology-Internship/blob/main/Day73_JSON_in_Python_CSEPathshala.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **JSON in Python**

- Python has a built-in package called JSON, which can be used to work with JSON data.

#### **Parse JSON - convert from JSON to Python**

- If you have a JSON string, you can **parse** it by using the **json.loads()** method.

In [5]:
import json

# some JSON:
x = '{"name":"John", "age":30, "city":"New York"}'
print(x)

# parse x:
y = json.loads(x)
print(y)

# the result is a python dictionary:
print(y["age"])

{"name":"John", "age":30, "city":"New York"}
{'name': 'John', 'age': 30, 'city': 'New York'}
30

#### **Convert from Python to JSON**

- If you have a python object, you can convert it into a JSON string by using the **json.dumps()** method

In [6]:
# a python object (dict):
x = {"name": "John", "age": 30, "city": "New York"}

# convert into JSON
y = json.dumps(x)

# the result is a json string
print(y)

{"name": "John", "age": 30, "city": "New York"}

#### **You can convert Python objects of the following types, into json strings**

- dict

- list

- tuple

- string

- int

- float

- True

- False

- None

In [7]:
print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("Hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"Hello"
42
31.76
true
false
null

In [8]:
x = {
    "name": "John",
     "age": 30,
     "married": True,
     "divorced": False,
     "children": ("Ann", "Binny"),
     "pets": None,
     "cars": [
              {"model": "BMW 238", "mpg": 27.5},
              {"model": "Ford Edge", "mpg": 24.1}
     ]
     }

# use four indents to make it easier to read the result
print(json.dumps(x, indent=4))

{
    "name": "John",
    "age": 30,
    "married": true,
    "divorced": false,
    "children": [
        "Ann",
        "Binny"
    ],
    "pets": null,
    "cars": [
        {
            "model": "BMW 238",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ]
}

In [11]:
x = {
    "name": "John",
     "age": 30,
     "married": True,
     "divorced": False,
     "children": ("Ann", "Binny"),
     "pets": None,
     "cars": [
              {"model": "BMW 238", "mpg": 27.5},
              {"model": "Ford Edge", "mpg": 24.1}
     ]
     }

# use . and a space to seperate objects, and a space, a = and a space to seperate keys fom thier values:
print(json.dumps(x, indent=4, separators=(". ", " = ")))

{
    "name" = "John".
    "age" = 30.
    "married" = true.
    "divorced" = false.
    "children" = [
        "Ann".
        "Binny"
    ].
    "pets" = null.
    "cars" = [
        {
            "model" = "BMW 238".
            "mpg" = 27.5
        }.
        {
            "model" = "Ford Edge".
            "mpg" = 24.1
        }
    ]
}

#### **Reference**

- https://www.youtube.com/watch?v=k4jAuEa8gvo